---
import { getCollection } from "astro:content";

const articles = (await getCollection("article")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<main>
  <section>
    <table>
      <tr>
        <th>Article</th>
        <th>URL</th>
      </tr>
      <tr>
        {articles.map((article) => <td>{article.data.title}</td>)}
        {articles.map((article) => <td>{article.data.url}</td>)}
      </tr>
    </table>
    <!--	
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/article/${post.slug}/`}>
									<img
										width={720}
										height={360}
										src={post.data.heroImage}
										alt=""
									/>
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
-->
  </section>
  <section></section>
</main>
